<h3>Userame: <i><%= @user.name %></i></h3>
<h3>Age: <i><%= @user.age %></i></h3>
<h3>Height: <i><%= @user.height %> inches</i></h3>
<h3>Weight: <i><%= @user.start_weight %> lbs</i></h3>
<%= @logged_in.active ? @user.tdee.round : nil %>
<br>
<%= button_to "Personalized Plan", plan_path, method: :get %>
<%= button_to "Logout", logout_path %>